*{
    background-color: #bababa;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
div{
    background-color: #8a8a8a;
}
nav{
    grid-area: nav;
    /*border: 1px solid black;*/
    background-color: rgb(44, 43, 43);
}
header{
    grid-area: header;
    border: 1px solid black;
    background-image:url('../images/grisTexturer.jpg');
    text-align: center;

    font-size: 2em;
}
main{
    grid-area: main;
    border: 1px solid black;
    background-color: #8a8a8a;
    overflow: auto;
}
footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: black;
}

#conteneur{
    display: grid;
    grid-template-columns: minmax(80px, 15%) 85%;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
}


.conteneurNave {
    display: flex;
    /*border: 1px solid black;*/
    flex-direction: column;
    border: none;
    
}
.onglet{
    /*border: 1px solid black;*/
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    background-color: rgb(44, 43, 43);
}
a{
    color: white;
    text-decoration: none;
    background-color: rgb(44, 43, 43);
    
}  
a:hover{
    color:blue;
}

.conteneurFooter{
    display: flex;
    background-color: black;
}
.bass{
    color: white;
    margin: 10px;
    margin-top: 2em;
    background-color: black;
}

.lienBass{
    background-color: black;
    /*margin: 10px;*/
    margin-top: 2em;
}


/*---------------------Page d'acceuille----------------------------*/
.conteneurIndex{
    background-color: #8a8a8a;
}
.acceuil{
    background-color: #8a8a8a;
    color: black;
}
li,ul, ol{
    background-color: #8a8a8a;
}
.imageAcceuil{
    width: 200px; 
    height: 200px;
    border-radius: 100%; 
    object-fit: cover;
    float:right;
}
/*---------------------Professions----------------*/

.conteneurProfessions{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
    "profession1 description1"
    "profession2 description2"
    "profession3 description3"
    "profession4 description4"
    "profession5 description5"
    ;
    background-color: #8a8a8a;
}
.professions1{
    grid-area: profession1;
    margin: 10px;
    background-color: #8a8a8a;
}
.professions2{
    grid-area: profession2;
    margin: 10px;
    background-color: #8a8a8a;
}
.professions3{
    grid-area: profession3;
    margin: 10px;
    background-color: #8a8a8a;
}
.professions4{
    grid-area: profession4;
    margin: 10px;
    background-color: #8a8a8a;
}
.professions5{
    grid-area: profession5;
    margin: 10px;
    background-color: #8a8a8a;
}

.description1{
    grid-area: description1;
    margin: 10px;
    background-color: #8a8a8a;
}
.description2{
    grid-area: description2;
    margin: 10px;
    background-color: #8a8a8a;
}
.description3{
    grid-area: description3;
    margin: 10px;
    background-color: #8a8a8a;
}
.description4{
    grid-area: description4;
    margin: 10px;
    background-color: #8a8a8a;
}
.description5{
    grid-area: description5;
    margin: 10px;
    background-color: #8a8a8a;
}



.rigt{
    float:right;
}
/*---------------------tableau----------------*/
.conteneurCours{
    display: grid;
    grid-template-columns: 5% 19% 19% 19% 19% 19%;
    background-color: #8a8a8a;
    border: 1px solid black;
    grid-template-areas: 
        ".     lundi    mardi mercredi      jeudi       vendredi"
        "temps .         .      francais    exp1        introProg3"
        "temps .         .      francais    exp1        introProg3"
        "temps introProg .      introProg1  aideFr      francais1"
        "temps introProg math   introProg1  aideFr      francais1"
        "temps .         math   .           aideFr      ."
        "temps philo     .      .           .           math1"
        "temps philo     exp    .           .           math1"
        "temps philo     exp    .           introProg2  math1"
        "temps philo     exp    concepWeb   introProg2  ."
        "temps .         .      concepWeb   .           ."
        "temps .         .      concepWeb   .           .";
}
.conteneur1Cour{
    display: grid;
    background-color: #8a8a8a;
}
.conteneurTemps{
    display: flex;
    flex-direction: column;
    grid-area: temps;
    border: 1px solid black;
    background-color: #8a8a8a;

}
.temps{
    border: 1px solid black;
    background-color: #8a8a8a;
    flex-grow: 1;
}
.lundi{
    grid-area: lundi;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.mardi{
    grid-area: mardi;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.mercredi{
    grid-area: mercredi;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.jeudi{
    grid-area: jeudi;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.vendredi{
    grid-area: vendredi;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.introProg{
    grid-area: introProg;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.introProg1{
    grid-area: introProg1;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.introProg2{
    grid-area: introProg2;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.introProg3{
    grid-area: introProg3;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.philo{
    grid-area: philo;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.math{
    grid-area: math;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.math1{
    grid-area: math1;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.exploitation{
    grid-area: exp;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.exploitation1{
    grid-area: exp1;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.francais{
    grid-area: francais;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.francais1{
    grid-area: francais1;
    border: 1px solid black;
    background-color: #8a8a8a;

}
.concepWeb{
    grid-area: concepWeb;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.aideFrancais{
    grid-area: aideFr;
    border: 1px solid black;
    background-color: #8a8a8a;
}
.nomCour{
    font-weight: bold;
}
.codeCour{
    font-style: italic;
}

@media screen and (height < 650px){
    herder{
        background-image:url('../images/grisTexturer.jpg');
        text-align: center;

    }
}

.cercleVide{
    list-style:circle
}
.sujet{
    margin: 1em;
    background-color: #8a8a8a;
    
}
img{
    background-color: #8a8a8a;
    float: left;
    max-width: 10%;
    min-width: 100px;
}

/*----------------source----------*/

.conteneurSource{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "nomSource1 source1"
    "nomSource2 source2"
    "nomSource3 source3"
    "nomSource4 source4"
    "nomSource5 source5"
    "nomSource6 source6"
    "nomSource7 source7"
    "nomSource8 source8"
    "nomSource9 source9"
    ;
    background-color: #8a8a8a;
}
.nomSource1{
    grid-area: nomSource1;
    margin: 10px;
    background-color: #8a8a8a;
    
}
.nomSource2{
    grid-area: nomSource2;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource3{
    grid-area: nomSource3;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource4{
    grid-area: nomSource4;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource5{
    grid-area: nomSource5;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource6{
    grid-area: nomSource6;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource7{
    grid-area: nomSource7;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource8{
    grid-area: nomSource8;
    margin: 10px;
    background-color: #8a8a8a;
}
.nomSource9{
    grid-area: nomSource9;
    margin: 10px;
    background-color: #8a8a8a;
}
.source1{
    grid-area: source1;
    margin: 10px;
    background-color: #8a8a8a;
    color: black;
}
.source2{
    grid-area: source2;
    margin: 10px;
    background-color: #8a8a8a;
}
.source3{
    grid-area: source3;
    margin: 10px;
    background-color: #8a8a8a;
}
.source4{
    grid-area: source4;
    margin: 10px;
    background-color: #8a8a8a;
}
.source5{
    grid-area: source5;
    margin: 10px;
    background-color: #8a8a8a;
}
.source6{
    grid-area: source6;
    margin: 10px;
    background-color: #8a8a8a;
}
.source7{
    grid-area: source7;
    margin: 10px;
    background-color: #8a8a8a;
}
.source8{
    grid-area: source8;
    margin: 10px;
    background-color: #8a8a8a;
}
.source9{
    grid-area: source9;
    margin: 10px;
    background-color: #8a8a8a;
}

@media screen and (width < 800px){
    .conteneurProfessions{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "profession1"
        "description1"
        "profession2"
        "description2"
        "profession3"
        "description3"
        "profession4"
        "description4"
        "profession5"
        "description5"
        ;
        background-color: #8a8a8a;
    }  
    .professions1{
        grid-area: profession1;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .professions2{
        grid-area: profession2;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .professions3{
        grid-area: profession3;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .professions4{
        grid-area: profession4;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .professions5{
        grid-area: profession5;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .onglet{
        /*border: 1px solid black;*/
        flex-grow: 1;
        text-align: left;
        padding: 1em;
        padding-left: 1px;
        background-color: rgb(44, 43, 43);
    }
    .bass{
        color: white;
        margin: 5px;
        margin-top: 2em;
        background-color: black;
    }
    img{
        background-color: #8a8a8a;
        float: left;
        min-width: 100px;
    }
    .conteneurSource{
        overflow: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "nomSource1"
        "source1"
        "nomSource2"
        "source2"
        "nomSource3"
        "source3"
        "nomSource4"
        "source4"
        "nomSource5"
        "source5"
        "nomSource6"
        "source6"
        "nomSource7"
        "source7"
        "nomSource8"
        "source8"
        "nomSource9"
        "source9"

        ;
        background-color: #8a8a8a;
    }
    .nomSource1{
        grid-area: nomSource1;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
        
    }
    .nomSource2{
        grid-area: nomSource2;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource3{
        grid-area: nomSource3;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource4{
        grid-area: nomSource4;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource5{
        grid-area: nomSource5;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource6{
        grid-area: nomSource6;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource7{
        grid-area: nomSource7;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource8{
        grid-area: nomSource8;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
    .nomSource9{
        grid-area: nomSource9;
        margin: 10px;
        background-color: #8a8a8a;
        text-align: center;
    }
}

